<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/abc.css">
</head>
<body>
    <!-- <a href="/">Home</a>
    <a href="/product-list">Our Product</a> -->

    <%-include('common/nav') %>
    <hr>
    <h1 align="center" class="myheading">Welcome to shopping.com</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dignissimos exercitationem aperiam deleniti quas autem dicta minus in, neque iure dolorem laboriosam vitae.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, dolorem quis minima dolorum assumenda ab fuga, dicta architecto neque pariatur et natus obcaecati, dolore enim consequatur quisquam excepturi. Cupiditate, in!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ab deserunt? Amet, suscipit magnam! Alias minima, cumque, obcaecati voluptate animi dolorem temporibus quas laudantium saepe doloremque ab repudiandae tenetur modi rerum, iure consequuntur blanditiis natus tempore provident cum a voluptatum eveniet! Provident, illum corrupti deserunt culpa deleniti molestias similique quo saepe quibusdam asperiores nesciunt laborum, sapiente commodi esse dolores dolore at dicta porro necessitatibus harum eveniet nobis amet architecto. Nulla laudantium ut aut ab sit, totam, assumenda, ducimus ipsum voluptates repellendus eaque at quam debitis illum culpa esse aliquam ex magnam! Sit animi alias nesciunt. Laboriosam atque aut ea soluta!

    </p>
    <hr>
    <h1 align="center">Why choose us ?</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, eos! Illum, nostrum aut beatae fugit blanditiis obcaecati cumque, temporibus neque sapiente, saepe itaque nihil illo. Nesciunt vitae eaque eligendi quas blanditiis eum cumque fugiat.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non veritatis nam impedit ipsam! Sunt, error. Voluptatum delectus officia dicta sint illo assumenda fuga quidem, praesentium ab distinctio dolore debitis beatae id totam vero maiores voluptates facere, perferendis eos corrupti, modi nesciunt dignissimos aut. Voluptatum, maiores nihil a quisquam dolor corrupti voluptates. Minima saepe nemo, illum autem laudantium animi itaque aliquid obcaecati error labore cumque deleniti quidem exercitationem voluptatum nobis nisi quis quo necessitatibus dolorem ullam, consectetur optio pariatur, dolore eveniet. Cupiditate, iure! Fugiat tempore animi facere assumenda unde voluptatibus placeat deleniti maxime necessitatibus velit. Saepe veniam iure magnam provident quam?
    </p>
<hr>
</body>
</html>